<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
@{ string msg = "";}
<head runat="server">
    <title>Add/Update Menu Items</title>
    <link rel=”apple-touch-icon” href=”/apple-touch-icon.png” />
    <!--<link rel=”apple-touch-icon-precomposed” href=”/apple-touch-icon.png”/>-->
    <link rel=”icon” href=”/apple-touch-icon.png” />
    <link rel="manifest" href="/manifest.json">
    <link rel="stylesheet" href="FhStyle.css">
</head>
<body id="background">
    <form id="form1" runat="server" method="post">
        @using System.Data.SqlClient;
        @using System.Data;
        @using FHWebsite;
        @{
            string[] dataColumns = { "Date", "Lunch", "Dinner" };
            SqlDbType[] dataTypes = { SqlDbType.Date, SqlDbType.NChar, SqlDbType.NChar };
            string[] userInputs = new string[3];
            string connection = System.Configuration.ConfigurationManager.ConnectionStrings["FHConnectionString"].ConnectionString;

            if (IsPost)
            {
                // Get user inputs
                for (int i = 0; i < dataColumns.Length; i++)
                {
                    userInputs[i] = Request.Form[dataColumns[i]];
                }

                string insertCommand = @"UPDATE[dbo].[Menu]
                                         SET [Lunch] = ISNULL(NULLIF(@Lunch,''),  Lunch),
                                             [Dinner] = ISNULL(NULLIF(@Dinner,''),  Dinner)
                                         WHERE [Date] = @Date
                                         IF @@ROWCOUNT=0
                                         INSERT INTO [dbo].[Menu]([Date],[Lunch],[Dinner])
                                         VALUES(@Date,@Lunch,@Dinner)";

                if (SqlTools.ExecuteNonQuery(connection, insertCommand, dataColumns, dataTypes, userInputs) > 0)
                {
                    msg = "<h3 class=\"message\">Entry submitted</h3>";
                }
                else
                {
                    msg = "<h3 class=\"message\">Something went wrong</h3>";
                }
            }
        }
        <!--Navigation Bar-->
        @Html.Raw(File.ReadAllText(Server.MapPath("Header.html")))
        @Html.Raw(File.ReadAllText(Server.MapPath("AddPagesHeader.html")))
        <div class="box">
            <h1>Add/Update Menu Items</h1>
            @{WriteLiteral(msg);}
            <p>
                Date:&nbsp;
                @{
                    WriteLiteral("<input type=\"date\" name=\"date\" value=\"" + DateTime.Today.ToString("yyyy-MM-dd") + "\" />");
                }
            </p>
            <p>
                Lunch:&nbsp;<input type="text" name="lunch" size="50" />
            </p>
            <p>
                Dinner:&nbsp;<input type="text" name="dinner" size="50" />
            </p>
            <input type="submit" name="submit" value="Submit" />
        </div>
    </form>
</body>
</html>
