<!DOCTYPE html>
<html>
<head>
    <title>Meal Count by Day</title>
    <link rel="stylesheet" href="FHStyle.css" />
</head>
<body id="background">
    @using System.Data.SqlClient;
    @using System.Data;
    @using FHWebsite;
    @{ 
        string connection = System.Configuration.ConfigurationManager.ConnectionStrings["FHConnectionString"].ConnectionString;
        string lunch;
        string dinner;
        string[] parameters = new string[] { };
        SqlDbType[] paramTypes = new SqlDbType[] { };
        string[] paramValues = new string[] { };
        int[] lunchValues = new int[3];
        int[] dinnerValues = new int[3];
        if (!IsPost)
        {
            lunch = @"SELECT [Lunch],[LQty]
                    FROM [dbo].[Meals]
                    WHERE (Lunch = 'LL' OR Lunch = 'LN' OR Lunch = 'LI' OR Lunch = 'LE') AND Date = CAST(GETDATE() AS DATE)";
            dinner = @"SELECT [Dinner],[DQty]
                    FROM [dbo].[Meals]
                    WHERE (Dinner = 'DL' OR Dinner = 'LN' OR Dinner = 'DI' OR Dinner = 'DE') AND Date = CAST(GETDATE() AS DATE)";
        }
        else
        {
            lunch = @"SELECT [Lunch],[LQty]
                    FROM [dbo].[Meals]
                    WHERE (Lunch = 'LL' OR Lunch = 'LN' OR Lunch = 'LI' OR Lunch = 'LE') AND Date = @Date";
            dinner = @"SELECT [Dinner],[DQty]
                    FROM [dbo].[Meals]
                    WHERE (Dinner = 'DL' OR Dinner = 'LN' OR Dinner = 'DI' OR Dinner = 'DE') AND Date = @Date";
            parameters = new string[] { "@Date" };
            paramTypes = new SqlDbType[] { SqlDbType.Date };
            paramValues = new string[] { Request.Form["Date"] };
        }

        SqlDataReader lunchData = SqlTools.ExecuteQuery(connection, lunch, parameters, paramTypes, paramValues);
        SqlDataReader dinnerData = SqlTools.ExecuteQuery(connection, dinner, parameters, paramTypes, paramValues);
        lunchValues = CountValues(lunchData);
        dinnerValues = CountValues(dinnerData);

    }
    @functions{
        /// <summary>
        /// Counts the in, late plates, and early plates.
        /// </summary>
        /// <param name="reader">Data to count</param>
        /// <returns>Array of { In, LatePlates, EarlyPlates }</returns>
        int[] CountValues(SqlDataReader reader)
        {
            int[] values = new int[3];
            while (reader.Read())
            {
                if (reader.GetValue(0).ToString()[1] == 'I')
                {
                    values[0] += Convert.ToInt16(reader.GetValue(1));
                }
                else if (reader.GetValue(0).ToString()[1] == 'L' || reader.GetValue(0).ToString()[1] == 'N')
                {
                    values[1]++;
                }
                else if (reader.GetValue(0).ToString()[1] == 'E')
                {
                    values[2]++;
                }
            }

            return values;
        }
    }
    <div class="box">
        <form style="text-align:center;" id="form1" runat="server" method="post">
            <h3>
                Date:&nbsp;
                @{
                    WriteLiteral("<input type=\"date\" name=\"Date\" value=\"" + DateTime.Today.ToString("yyyy-MM-dd") + "\" />");
                }
                &nbsp;
                <input type="submit" name="submit" value="Change Date" />
            </h3>
        </form>
        <h1 style="margin-top:5px;margin-bottom:0px;">Number of Sign Ups</h1>
        <h3 style="margin:0px;text-align:center;">    
            @{ 
                if(paramValues.Length > 0)
                {
                    WriteLiteral(paramValues[0]);
                }
                else
                {
                    WriteLiteral(DateTime.Today.ToString("yyyy-MM-dd"));
                }
            }
        </h3">
        <table style="margin-top:10px;font-weight:600;">
            <tr>
                <th></th><th><h3>In</h3></th><th><h3>Late</h3></th><th><h3>Early</h3></th><th><h3>Total</h3></th>
            </tr>
            <tr style="text-align:right;">
                <td><h3>Lunch</h3></td>
                @{
                    WriteLiteral(String.Format("<td>{0}</td><td>{1}</td><td>{2}</td><td>{3}</td>", lunchValues[0], lunchValues[1], lunchValues[2], lunchValues.Sum()));
                }
            </tr>
            <tr style="text-align:right;">
                <td><h3>Dinner</h3></td>
                @{
                    WriteLiteral(String.Format("<td>{0}</td><td>{1}</td><td>{2}</td><td>{3}</td>", dinnerValues[0], dinnerValues[1], dinnerValues[2], dinnerValues.Sum()));
                }
            </tr>
        </table>
    </div>
</body>
</html>
