<!DOCTYPE html>
<html>
<head>
    <title>Late Plates</title>
    <link rel="stylesheet" href="FhStyle.css" />
		<link rel=”apple-touch-icon” href=”/AppleIcon.png”/>
	<link rel=”apple-touch-icon-precomposed” href=”/AppleIcon.png”/>
	<link rel="manifest" href="/manifest.json"/>

</head>
<body id="background">
    @using FHWebsite;
    @using System.Data.SqlClient;
    @using System.Data;
    @using System.Text;
    @{ 
        string connection = System.Configuration.ConfigurationManager.ConnectionStrings["FHConnectionString"].ConnectionString;
        string cmd = @"SELECT [FirstName]
	                          ,[LastName]
	                          ,[Lunch]
                        FROM [dbo].[Meals] JOIN [dbo].[Members]
                        ON [dbo].[Meals].UserID = [dbo].[Members].ID
                        WHERE (Lunch = 'LL' OR Lunch = 'LN') AND Date = CAST(GETDATE() AS DATE)
						ORDER BY Lunch, LastName";
        SqlDataReader lunch = SqlTools.ExecuteQuery(connection, cmd, new string[] { }, new SqlDbType[] { }, new string[] { });
        cmd = @"SELECT [FirstName]
	                    ,[LastName]
	                    ,[Dinner]
                FROM [dbo].[Meals] JOIN [dbo].[Members]
                ON [dbo].[Meals].UserID = [dbo].[Members].ID
                WHERE (Dinner = 'DL' OR Dinner = 'LN') AND Date = CAST(GETDATE() AS DATE)
				ORDER BY Dinner, LastName";
        SqlDataReader dinner = SqlTools.ExecuteQuery(connection, cmd, new string[] { }, new SqlDbType[] { }, new string[] { });
    }
    @functions{
        /// <summary>
        /// Write data to a table
        /// </summary>
        /// <param name="data">Data to write</param>
        string FormatData(SqlDataReader data)
        {
            string nos;
            StringBuilder ret = new StringBuilder();
            while (data.Read())
            {
                if ((string)data.GetValue(2) == "LN")
                    nos = "NOS";
                else
                    nos = "";
                ret.AppendFormat("<tr><td>{0} {1}</td><td>{2}</td></tr>", data.GetValue(0), data.GetValue(1), nos);
            }
            return ret.ToString();
        }
    }
    <!--Navigation Bar-->
    @Html.Raw(File.ReadAllText(Server.MapPath("Header.html")))
    <div class="box">
        <h1>Lunch Late Plates</h1><br />
        <table>
            <tr>
                <th><h3>Name</h3></th><th><h3>NOS</h3></th>
            </tr>
            @{WriteLiteral(FormatData(lunch));}
        </table>
        <h1>Dinner Late Plates</h1>
        <table>
            <tr>
                <th><h3>Name</h3></th><th><h3>NOS</h3></th>
            </tr>
            @{WriteLiteral(FormatData(dinner));}
        </table>
    </div>
</body>
</html>
