<!DOCTYPE html>
<html>
<head>
    <title>Menu</title>
    <link rel=”apple-touch-icon” href=”/apple-touch-icon.png”/>
    <!--<link rel=”apple-touch-icon-precomposed” href=”/apple-touch-icon.png”/>-->
    <link rel=”icon” href=”/apple-touch-icon.png” />
    <link rel="manifest" href="/manifest.json">
    <link rel="stylesheet" href="FHStyle.css" />
</head>
<body id="background">
    @using System.Data.SqlClient;
    @using System.Data;
    @using FHWebsite;
    @{
        string connection = System.Configuration.ConfigurationManager.ConnectionStrings["FHConnectionString"].ConnectionString;
        SqlConnection con = new SqlConnection(connection);
        con.Open();

        DateTime endDate = DateTime.Now.AddDays(6);
        string query = String.Format(@"SELECT Day, Dinner,Lunch FROM Menu 
                        WHERE Date BETWEEN CONVERT(Date, GETDATE()) AND '{0}'
                        ORDER BY Date", endDate.ToShortDateString());
        SqlCommand command = new SqlCommand(query, con);
        SqlDataReader reader = command.ExecuteReader();


        List<string[]> data = new List<string[]>();
        while (reader.Read())
        {
            string[] tmp = new string[4];
            for (int i = 0; i < reader.FieldCount; i++)
            {
                tmp[i] = reader.GetString(i);
            }
            data.Add(tmp);
        }
        con.Close();

    }
    <!--Navigation Bar-->
    @Html.Raw(File.ReadAllText(Server.MapPath("Header.html")))
    <div class="box">
        <h1 style="margin-top:5px;margin-bottom:0px;">Menu</h1>
        <table style="margin-top:10px;font-weight:600;">
            <tr>
                <th></th>
                <th><h3>Lunch</h3></th>
                <th><h3>Dinner</h3></th>
            </tr>
            @{ 
                foreach(string[] item in data)
                {
                    WriteLiteral(String.Format("<tr><td>{0}</td><td>{1}</td><td>{2}</td></tr>", item[0], item[2], item[1]));
                }
            }
        </table>
    </div>
</body>
</html>