<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
@{ string msg = ""; string msg2 = ""; }
<head runat="server">
    <title>Reset Meals</title>
    <link rel=”apple-touch-icon” href=”/apple-touch-icon.png” />
    <!--<link rel=”apple-touch-icon-precomposed” href=”/apple-touch-icon.png”/>-->
    <link rel=”icon” href=”/apple-touch-icon.png” />
    <link rel="manifest" href="/manifest.json">
    <link rel="stylesheet" href="FhStyle.css">
</head>
<body id="background">
    <form id="form1" runat="server" method="post">
        @using System.Data.SqlClient;
        @using System.Data;
        @using FHWebsite;
        @{
            string[] dataColumns = { "0", "1" };
            SqlDbType[] dataTypes = { SqlDbType.Int, SqlDbType.Int };
            string[] userInputs = { "0", "1" };
            string connection = System.Configuration.ConfigurationManager.ConnectionStrings["FHConnectionString"].ConnectionString;

            if (IsPost)
            {

                string command_ih = @"
                            --Reset Weekly Meals for In House
                            Update WeeklyMeals
                            SET
                            [MonLunch] = 'LI', [MonDinner] = 'DI',
                            [TueLunch] = 'LI', [TueDinner] = 'DI',
                            [WedLunch] = 'LI', [WedDinner] = 'DI',
                            [ThuLunch] = 'LI', [ThuDinner] = 'DI',
                            [FriLunch] = 'LI', [FriDinner] = 'DI'
                            FROM WeeklyMeals LEFT JOIN Members ON WeeklyMeals.UserID = Members.ID
                            WHERE Members.OutOfHouse = @0";

                string command_ooh = @"
                            -- Reset Weekly Meals for Out of House
                            Update WeeklyMeals
                            SET
                            [MonLunch] = 'LO', [MonDinner] = 'DO',
                            [TueLunch] = 'LO', [TueDinner] = 'DO',
                            [WedLunch] = 'LO', [WedDinner] = 'DO',
                            [ThuLunch] = 'LO', [ThuDinner] = 'DO',
                            [FriLunch] = 'LO', [FriDinner] = 'DO'
                            FROM WeeklyMeals LEFT JOIN Members ON WeeklyMeals.UserID = Members.ID
                            WHERE Members.OutOfHouse = @1;";

                if (SqlTools.ExecuteNonQuery(connection, command_ih, dataColumns, dataTypes, userInputs) > 0)
                {
                    msg = "<h3 class=\"message\" style=\"margin-bottom: 0;\">In House Meals Reset</h3>";
                }
                else
                {
                    msg = "<h3 class=\"message\">Something went wrong with In House Meals Reset</h3>";
                }

                if (SqlTools.ExecuteNonQuery(connection, command_ooh, dataColumns, dataTypes, userInputs) > 0)
                {
                    msg2 = "<h3 class=\"message\">Out of House Meals Reset</h3>";
                }
                else
                {
                    msg2 = "<h3 class=\"message\">Something went wrong with Out of House Meals Reset</h3>";
                }
            }
        }
        <!--Navigation Bar-->
        @Html.Raw(File.ReadAllText(Server.MapPath("Header.html")))
        @Html.Raw(File.ReadAllText(Server.MapPath("AddPagesHeader.html")))
        <div class="box" style="text-align: center;">
            <h1>Reset Meals</h1>
            @{WriteLiteral(msg);}
            @{WriteLiteral(msg2);}
            <p>This will reset the In House meals to all be in,<br /> and the Out of House meals to all be out</p>
            <input type="submit" name="Reset" value="Reset Meals" style="margin: auto;" />
        </div>
    </form>
</body>
</html>
