<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
@{ string msg = "";}
<head runat="server">
    <title>FH Meal Sign Up</title>
    <link rel="stylesheet" href="FhStyle.css">
</head>
<body id="background">
    <form id="form1" runat="server" method="post">
        @using System.Data.SqlClient;
        @using System.Data;
        @using FHWebsite;
        @{
                    string[] dataColumns = { "UserID", "Lunch", "Dinner", "Date", "LQty", "DQty" };
                    SqlDbType[] dataTypes = { SqlDbType.Int, SqlDbType.NChar, SqlDbType.NChar, SqlDbType.Date, SqlDbType.TinyInt, SqlDbType.TinyInt };
                    string[] userInputs = new string[6];
                    string connection = System.Configuration.ConfigurationManager.ConnectionStrings["FHConnectionString"].ConnectionString;

                    if (IsPost)
                    {

                        // Get user inputs
                        for (int i = 0; i < dataColumns.Length; i++)
                        {
                            userInputs[i] = Request.Form[dataColumns[i]];
                        }

                        // Command to insert a meal signup into Meals Table
                        string insertCommand = @"UPDATE[dbo].[Meals]
                                                SET[UserID] = @UserID
                                                    ,[Date] = @Date
                                                    ,[Dinner] = ISNULL(NULLIF(@Dinner,''), Dinner)
                                                    ,[Lunch] = ISNULL(NULLIF(@Lunch,''), Lunch)
                                                    ,[LQty] = @LQty
                                                    ,[DQty] = @DQty
                                                 WHERE UserID = @UserID AND [Date] = @Date
                                                 IF @@ROWCOUNT=0
	                                                INSERT INTO [dbo].[Meals]
                                                           ([UserID]
                                                           ,[Date]
                                                           ,[Dinner]
                                                           ,[Lunch]
                                                           ,[LQty]
                                                           ,[DQty])
                                                     VALUES
                                                           (@UserID
                                                           ,@Date
                                                           ,@Dinner
                                                           ,@Lunch
                                                           ,@LQty
                                                           ,@DQty)";

                if (SqlTools.ExecuteNonQuery(connection, insertCommand, dataColumns, dataTypes, userInputs) > 0)
                {
                    msg = "<h3 class=\"message\">Entry submitted</h3>";
                }
                else
                {
                    msg = "<h3 class=\"message\">Something went wrong</h3>";
                }
            }
        }
        <!--Navigation Bar-->
        @Html.Raw(File.ReadAllText(Server.MapPath("Header.html")))
        <div class="box">
            <h1>FarmHouse Meal Sign Up</h1>
            @{WriteLiteral(msg);}
            <p>
                User ID:&nbsp;<input type="text" name="userID" size="2" />
            </p>
            <p>
                Lunch:&nbsp;
                <select name="lunch">
                    <option value="">No Change</option>
                    <option value="LI">In</option>
                    <option value="LO">Out</option>
                    <option value="LE">Early</option>
                    <option value="LL">Late</option>
                    <option value="LN">Late (NOS)</option>
                </select>&nbsp;
                Quantity:&nbsp; <input type="number" name="lqty" value="1" />
            </p>
            <p>
                Dinner:&nbsp;
                <select name="dinner">
                    <option value="">No Change</option>
                    <option value="DI">In</option>
                    <option value="DO">Out</option>
                    <option value="DE">Early</option>
                    <option value="DL">Late</option>
                    <option value="LN">Late (NOS)</option>
                </select>&nbsp;
                Quantity:&nbsp; <input type="number" name="dqty" value="1" />
            </p>
            <p>
                Date:&nbsp; 
                @{
                    WriteLiteral("<input type=\"date\" name=\"date\" value=\"" + DateTime.Today.ToString("yyyy-MM-dd") + "\" />");
                }
            </p>
            <input type="submit" name="submit" value="Submit" />
        </div>
    </form>
</body>
</html>
