<!DOCTYPE html>
<html>
<head>
    <title>Times</title>
    <link rel="stylesheet" href="FhStyle.css" />
    <link rel=”apple-touch-icon” href=”/AppleIcon.png” />
    <link rel=”apple-touch-icon-precomposed” href=”/AppleIcon.png” />
    <link rel="manifest" href="/manifest.json" />
</head>
<body id="background">
    @Html.Raw(File.ReadAllText(Server.MapPath("Header.html")))
    <div class="box">
        <p>Lunch: Be in the living room by 11:30. Lunch is served from 11:45-12:45. Early plates are usually ready by 11:15</p>
        <p>All lunches are walkthrough</p>
        <p>Dinner: Be in the living room by 5:30. Dinner is served at 5:45. If you aren't going to be there at 5:45 get a early or late plate. Early plates are usually ready by 5:15</p>
        <p>Dinners are sitdown with specified attire (see handbook for details). Wednesday dinner is formal. Friday dinner is casual walkthrough</p>
        <p>Early Plate: You will go in when it's ready to get your food then go to your room to eat it</p>
        <p>Late Plate: Crew will make a plate for you and stick it in the fridge for you to eat when you get back</p>
    </div>
</body>
</html>